In [1]:
import pandas as pd
#import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
x=pd.read_csv('train.csv')
xtest = pd.read_csv('test.csv')
x.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S

In [3]:
#doing the same thing as we have done using Re ...
def clean_cabin(x):
    try:
        return x[0]
    except TypeError:
        return "U"
    
x['Cabin'] = x.Cabin.apply(clean_cabin)

def clean_cabin(x):
    try:
        return x[0]
    except TypeError:
        return "U"
    
xtest['Cabin'] = xtest.Cabin.apply(clean_cabin)

xtest.head(1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,U,Q

In [4]:
x.loc[(x['Pclass'] == 1) & (x['Cabin'] == 'U'), 'Cabin'] = 'C'
x.loc[(x['Pclass'] == 2) & (x['Cabin'] == 'U'), 'Cabin'] = 'E'
x.loc[(x['Pclass'] == 3) & (x['Cabin'] == 'U') & (x['Sex'] == 'male') , 'Cabin'] = 'F'
x.loc[(x['Pclass'] == 3) & (x['Cabin'] == 'U') & (x['Sex'] == 'female'),'Cabin'] = 'G'

In [5]:
xtest.loc[(xtest['Pclass'] == 1) & (xtest['Cabin'] == 'U'), 'Cabin'] = 'C'
xtest.loc[(xtest['Pclass'] == 2) & (xtest['Cabin'] == 'U'), 'Cabin'] = 'E'
xtest.loc[(xtest['Pclass'] == 3) & (xtest['Cabin'] == 'U') & (xtest['Sex'] == 'male') , 'Cabin'] = 'F'
xtest.loc[(xtest['Pclass'] == 3) & (xtest['Cabin'] == 'U') & (xtest['Sex'] == 'female'),'Cabin'] = 'G'

In [6]:
dummies = pd.get_dummies(x['Cabin'], prefix = 'Deck')
x= pd.concat([x,dummies],axis =1)

x.drop (['Deck_T'],axis =1 ,inplace= True)

dummies = pd.get_dummies(xtest['Cabin'], prefix = 'Deck')
xtest= pd.concat([xtest,dummies],axis =1)

In [7]:
def title(name):
    temp_1 = name.split(',') # Split by (,)
    temp_2 = temp_1[1].split('.')[0] # Split by (.)
    temp_3 = temp_2.strip() # Remove white space
    return temp_3

x['Title'] = x['Name'].apply(title)

x ['Temp'] =x['Sex'] + x['Title'] #just for female doctors
x.loc[x['Temp'] == 'femaleDr', 'Title'] = 'Mrs' #just for female doctors

x.drop ([ 'Temp' ],axis =1 ,inplace= True) #just for female doctors

def new_title(title):
    if title == 'Mr' or title == 'Capt' or title == 'Don' or title == 'Dr' or title == 'Jonkheer' or title     == 'Major' or  title == 'Rev' or title == 'Sir' or title == 'Col':
        return 'Mr'
    elif title == 'Mrs' or title == 'Lady' or title == 'Mme' or title == 'Ms' or title == 'the       Countess':
        return 'Mrs'
    elif title == 'Miss' or title == 'Mlle':
        return 'Miss'
    else:
        return 'Master'
    
x['NewTitle'] = x['Title'].apply(new_title)

x.drop ([ 'Title' ],axis =1 ,inplace= True) # dropping some columns

#Creating new family_size and family column
x['Family_Size']=x['SibSp']+x['Parch']
x['Family']=x['SibSp']*x['Parch']

#imputing nan values of Fare based on Class
x.loc[(x.Fare.isnull())&(x.Pclass==1),'Fare'] =np.median(x[x['Pclass'] == 1]['Fare'].dropna())
x.loc[(x.Fare.isnull())&(x.Pclass==2),'Fare'] =np.median(x[x['Pclass'] == 2]['Fare'].dropna())
x.loc[(x.Fare.isnull())&(x.Pclass==3),'Fare'] =np.median(x[x['Pclass'] == 3]['Fare'].dropna())

#instead of male and female separate columns 
#    creating a single column based on gender
x['Gender'] = x['Sex'].map( {'female': 0, 'male': 1} ).astype(int)

x.Embarked[ x.Embarked.isnull() ] = x.Embarked.dropna().mode().values

#imputing missing values of age based on salutations (Mr. ,Mrs Etc etc)
x['AgeFill']=x['Age']
mean_ages = np.zeros(4)
mean_ages[0]=np.average(x[x['NewTitle'] == 'Miss']['Age'].dropna())
mean_ages[1]=np.average(x[x['NewTitle'] == 'Mrs']['Age'].dropna())
mean_ages[2]=np.average(x[x['NewTitle'] == 'Mr']['Age'].dropna())
mean_ages[3]=np.average(x[x['NewTitle'] == 'Master']['Age'].dropna())
x.loc[(x.Age.isnull()) & (x.NewTitle == 'Miss') ,'AgeFill'] = mean_ages[0]
x.loc[(x.Age.isnull()) & (x.NewTitle == 'Mrs') ,'AgeFill'] = mean_ages[1]
x.loc[(x.Age.isnull()) & (x.NewTitle == 'Mr') ,'AgeFill'] = mean_ages[2]
x.loc[(x.Age.isnull()) & (x.NewTitle == 'Master') ,'AgeFill'] = mean_ages[3]

#Based on age creating a categorical column 

x['AgeCat']=x['AgeFill']

x.loc[(x.AgeFill<=12) ,'AgeCat'] = 'Child'
x.loc[(x.AgeFill>49),'AgeCat'] = 'Senior'
x.loc[(x.AgeFill>12) & (x.AgeFill <=19),'AgeCat'] = 'Teen'
x.loc[(x.AgeFill>19) & (x.AgeFill <=49) ,'AgeCat'] = 'Adult'

x['FPP']=x['Fare']/(x['Family_Size']+1) # FPP = Fare Per Passenger
x['AgeClass']=x ['AgeFill']*x['Pclass']
x['ClassFare']=x['Pclass']*x['FPP']

x['HighLow']=x['Pclass']
x.loc[ (x.FPP<8) ,'HighLow'] = 'Low'
x.loc[ (x.FPP>=8) ,'HighLow'] = 'High'

C:\Users\admin\Anaconda\lib\site-packages\IPython\kernel\__main__.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
x.drop (['Cabin','Name','Age','SibSp','Parch','Ticket' ,'Sex'],axis =1 ,inplace= True)
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 22 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null object
Deck_A         891 non-null float64
Deck_B         891 non-null float64
Deck_C         891 non-null float64
Deck_D         891 non-null float64
Deck_E         891 non-null float64
Deck_F         891 non-null float64
Deck_G         891 non-null float64
NewTitle       891 non-null object
Family_Size    891 non-null int64
Family         891 non-null int64
Gender         891 non-null int32
AgeFill        891 non-null float64
AgeCat         891 non-null object
FPP            891 non-null float64
AgeClass       891 non-null float64
ClassFare      891 non-null float64
HighLow        891 non-null object
dtypes: float64(12), int32(1), int64(5), object(4)
memory usage: 156.6+ KB

In [9]:
# Feature transformation without creating more features

x['Embarked'] = x['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(int) 
x['NewTitle'] = x['NewTitle'].map({'Mr':1, 'Mrs':2, 'Master':3, 'Miss':4}).astype(int)
x['AgeCat'] = x['AgeCat'].map({'Child':1, 'Teen':2, 'Adult':3, 'Senior':4}).astype(int)
x['HighLow'] = x['HighLow'].map({'Low':0, 'High':1}).astype(int)

#Feature Normalization : fare,agefill,Fpp,ageclass,classfare
scaler = preprocessing.MinMaxScaler()

x['FPP_Scaled'] = scaler.fit_transform(x['FPP'])
x['Age_Scaled'] = scaler.fit_transform(x['AgeFill'])
x['Fare_Scaled'] = scaler.fit_transform(x['Fare'])
x['Age_Class'] = scaler.fit_transform(x['AgeClass'])
x['Class_Fare'] = scaler.fit_transform(x['ClassFare'])

x.drop (['FPP','AgeFill','Fare','AgeClass','ClassFare'],axis =1 ,inplace= True)

In [10]:
x.head(1)

,PassengerId,Survived,Pclass,Embarked,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,...,Family_Size,Family,Gender,AgeCat,HighLow,FPP_Scaled,Age_Scaled,Fare_Scaled,Age_Class,Class_Fare
0,1,0,3,2,0,0,0,0,0,1,...,1,0,1,3,0,0.007076,0.271174,0.014151,0.294373,0.021227

For test set :

In [11]:
def title(name):
    temp_1 = name.split(',') # Split by (,)
    temp_2 = temp_1[1].split('.')[0] # Split by (.)
    temp_3 = temp_2.strip() # Remove white space
    return temp_3

xtest['Title'] = xtest['Name'].apply(title)
def new_title(title):
    if title == 'Mr' or title == 'Capt' or title == 'Don' or title == 'Dr' or title == 'Jonkheer' or title     == 'Major' or  title == 'Rev' or title == 'Sir' or title == 'Col':
        return 'Mr'
    elif title == 'Mrs' or title == 'Lady' or title == 'Mme' or title == 'Ms' or title == 'the       Countess':
        return 'Mrs'
    elif title == 'Miss' or title == 'Mlle':
        return 'Miss'
    else:
        return 'Master'
    
xtest['NewTitle'] = xtest['Title'].apply(new_title)

xtest.drop ([ 'Title' ],axis =1 ,inplace= True) # dropping some columns

#Creating new family_size and family column
xtest['Family_Size']=xtest['SibSp']+xtest['Parch']
xtest['Family']=xtest['SibSp']*xtest['Parch']

#imputing nan values of Fare based on Class
xtest.loc[(xtest.Fare.isnull())&(xtest.Pclass==1),'Fare'] =np.median(xtest[xtest['Pclass'] == 1]['Fare'].dropna())
xtest.loc[(xtest.Fare.isnull())&(xtest.Pclass==2),'Fare'] =np.median(xtest[xtest['Pclass'] == 2]['Fare'].dropna())
xtest.loc[(xtest.Fare.isnull())&(xtest.Pclass==3),'Fare'] =np.median(xtest[xtest['Pclass'] == 3]['Fare'].dropna())

#instead of male and female separate columns 
#    creating a single column based on gender
xtest['Gender'] = xtest['Sex'].map( {'female': 0, 'male': 1} ).astype(int)

xtest.Embarked[xtest.Embarked.isnull()] = xtest.Embarked.dropna().mode().values

#imputing missing values of age based on salutations (Mr. ,Mrs Etc etc)
xtest['AgeFill']=xtest['Age']
mean_ages = np.zeros(4)
mean_ages[0]=np.average(xtest[xtest['NewTitle'] == 'Miss']['Age'].dropna())
mean_ages[1]=np.average(xtest[xtest['NewTitle'] == 'Mrs']['Age'].dropna())
mean_ages[2]=np.average(xtest[xtest['NewTitle'] == 'Mr']['Age'].dropna())
mean_ages[3]=np.average(xtest[xtest['NewTitle'] == 'Master']['Age'].dropna())
xtest.loc[(xtest.Age.isnull()) & (xtest.NewTitle == 'Miss') ,'AgeFill'] = mean_ages[0]
xtest.loc[(xtest.Age.isnull()) & (xtest.NewTitle == 'Mrs') ,'AgeFill'] = mean_ages[1]
xtest.loc[(xtest.Age.isnull()) & (xtest.NewTitle == 'Mr') ,'AgeFill'] = mean_ages[2]
xtest.loc[(xtest.Age.isnull()) & (xtest.NewTitle == 'Master') ,'AgeFill'] = mean_ages[3]

#Based on age creating a categorical column 

xtest['AgeCat']=xtest['AgeFill']

xtest.loc[(xtest.AgeFill<=12) ,'AgeCat'] = 'Child'
xtest.loc[(xtest.AgeFill>49),'AgeCat'] = 'Senior'
xtest.loc[(xtest.AgeFill>12) & (xtest.AgeFill <=19),'AgeCat'] = 'Teen'
xtest.loc[(xtest.AgeFill>19) & (xtest.AgeFill <=49) ,'AgeCat'] = 'Adult'

xtest['FPP']=xtest['Fare']/(xtest['Family_Size']+1) # FPP = Fare Per Passenger
xtest['AgeClass']=xtest['AgeFill']*xtest['Pclass']
xtest['ClassFare']=xtest['Pclass']*xtest['FPP']

xtest['HighLow']=xtest['Pclass']
xtest.loc[(xtest.FPP<8) ,'HighLow'] = 'Low'
xtest.loc[(xtest.FPP>=8) ,'HighLow'] = 'High'

xtest.drop (['Cabin','Name','Age','SibSp','Parch','Ticket' ,'Sex'],axis =1 ,inplace= True)

C:\Users\admin\Anaconda\lib\site-packages\IPython\kernel\__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
# Feature transformation without creating more features

xtest['Embarked'] = xtest['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(int) 
xtest['NewTitle'] = xtest['NewTitle'].map({'Mr':1, 'Mrs':2, 'Master':3, 'Miss':4}).astype(int)
xtest['AgeCat'] = xtest['AgeCat'].map({'Child':1, 'Teen':2, 'Adult':3, 'Senior':4}).astype(int)
xtest['HighLow'] = xtest['HighLow'].map({'Low':0, 'High':1}).astype(int)

#Feature Normalization : fare,agefill,Fpp,ageclass,classfare
scaler_test = preprocessing.MinMaxScaler()

xtest['FPP_Scaled'] = scaler_test.fit_transform(xtest['FPP'])
xtest['Age_Scaled'] = scaler_test.fit_transform(xtest['AgeFill'])
xtest['Fare_Scaled'] = scaler_test.fit_transform(xtest['Fare'])
xtest['Age_Class'] = scaler_test.fit_transform(xtest['AgeClass'])
xtest['Class_Fare'] = scaler_test.fit_transform(xtest['ClassFare'])

xtest.drop (['FPP','AgeFill','Fare','AgeClass','ClassFare'],axis =1 ,inplace= True)

In [13]:
x.head(1)

,PassengerId,Survived,Pclass,Embarked,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,...,Family_Size,Family,Gender,AgeCat,HighLow,FPP_Scaled,Age_Scaled,Fare_Scaled,Age_Class,Class_Fare
0,1,0,3,2,0,0,0,0,0,1,...,1,0,1,3,0,0.007076,0.271174,0.014151,0.294373,0.021227

In [14]:
xtest.head(1)

,PassengerId,Pclass,Embarked,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,...,Family_Size,Family,Gender,AgeCat,HighLow,FPP_Scaled,Age_Scaled,Fare_Scaled,Age_Class,Class_Fare
0,892,3,3,0,0,0,0,0,1,0,...,0,0,1,3,0,0.02984,0.452723,0.015282,0.569037,0.089519

In [15]:
y=x.pop('Survived')
print (x.shape)
print (xtest.shape)

(891, 21)
(418, 21)

In [16]:
x1=x
y1=y
xtest1=xtest

train=x.values
target=y.values
test=xtest.values

from sklearn.cross_validation import train_test_split,cross_val_score,KFold,StratifiedShuffleSplit,StratifiedKFold
from sklearn import metrics
from sklearn.grid_search import GridSearchCV
from sklearn.pipeline import Pipeline

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [17]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=500, 
                           criterion='gini',
                           max_depth=5,
                           min_samples_split=1,
                           min_samples_leaf=1,
                           max_features=0.5,
                           bootstrap=False,n_jobs=-1, 
                           random_state=42,
                           verbose=0, 
                           min_density=None, 
                           compute_importances=None)

#clf.fit(X_train, y_train)
#y_pred = clf.predict(X_test)
#print metrics.accuracy_score(y_test, y_pred) # accuracy = 0.86592178
print cross_val_score(clf,x,y,cv=10,scoring ='accuracy').mean()

0.833916411304

In [15]:
'''
clf=RandomForestClassifier(n_estimators=1000, 
                           criterion='gini',
                           max_depth=5,
                           min_samples_split=1,
                           min_samples_leaf=1,
                           max_features=0.5,
                           bootstrap=False,n_jobs=-1, 
                           random_state=42,
                           verbose=0, 
                           min_density=None, 
                           compute_importances=None)
                           '''
rnn = RandomForestClassifier(random_state=1, n_estimators=175, min_samples_split=4, min_samples_leaf=2)

print cross_val_score(rnn,x,y,cv=10,scoring ='accuracy').mean()

0.841781296107

In [18]:
clf=RandomForestClassifier(n_estimators=250, 
                           criterion='entropy',
                           max_depth=5,
                           min_samples_split=1,
                           min_samples_leaf=9,
                           max_features=0.5,
                           bootstrap=False,n_jobs=-1, 
                           random_state=42,
                           verbose=0, 
                           min_density=None, 
                           compute_importances=None)
clf = clf.fit(train,target)
clf_test_predict = clf.predict(test)
xtest1['Survived'] = clf_test_predict
xtest1[['PassengerId','Survived']].to_csv('M19.csv', index=False, float_format="%f")

In [55]:
from sklearn import svm
clf = svm.SVC(kernel ='linear',C=1,gamma=0.1)
clf.fit(X_train, y_train)
# STEP 3: make predictions on the testing set
y_pred = clf.predict(X_test)

# compare actual response values (y_test) with predicted response values (y_pred)
print metrics.accuracy_score(y_test, y_pred)

0.815642458101

In [56]:
clf = svm.SVC(kernel ='linear',C=1,gamma=0.3)
clf = clf.fit(train,target)
clf_test_predict = clf.predict(test)
xtest1['Survived'] = clf_test_predict
xtest1[['PassengerId','Survived']].to_csv('M17.csv', index=False, float_format="%f")

In [57]:
clf = svm.SVC(kernel ='linear',C=1,gamma=0.1)
clf = clf.fit(train,target)
clf_test_predict = clf.predict(test)
xtest1['Survived'] = clf_test_predict
xtest1[['PassengerId','Survived']].to_csv('M18.csv', index=False, float_format="%f")

In [60]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1),
                         algorithm="SAMME",
                         n_estimators=90)
clf.fit(X_train, y_train)
# STEP 3: make predictions on the testing set
y_pred = clf.predict(X_test)

# compare actual response values (y_test) with predicted response values (y_pred)
print metrics.accuracy_score(y_test, y_pred)

0.804469273743

In [61]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1),
                         algorithm="SAMME",
                         n_estimators=90)
clf = clf.fit(train,target)
clf_test_predict = clf.predict(test)
xtest1['Survived'] = clf_test_predict
xtest1[['PassengerId','Survived']].to_csv('M19.csv', index=False, float_format="%f")

In [62]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
# STEP 3: make predictions on the testing set
y_pred = logreg.predict(X_test)

# compare actual response values (y_test) with predicted response values (y_pred)
print metrics.accuracy_score(y_test, y_pred)

0.798882681564

In [63]:
clf = LogisticRegression()
clf = clf.fit(train,target)
clf_test_predict = clf.predict(test)
xtest1['Survived'] = clf_test_predict
xtest1[['PassengerId','Survived']].to_csv('M20.csv', index=False, float_format="%f")

####Searching for best Hyperparameter in Random Forest using Grid Search CV

In [18]:
from sklearn.grid_search import GridSearchCV
#e_range = (100,200)
c_options=['gini','entropy']
feature_option=['auto','sqrt',0.5]
depth_option = [0.5,5,7,9,None]
split_option = [1,4,7,9,11]
leaf_options=[1,4,7,9,11]
param_grid = dict(criterion = c_options,
                  max_features=feature_option,
                  max_depth=depth_option,
                  min_samples_split=split_option,
                  min_samples_leaf =leaf_options
                  #n_estimators= e_range)                  
print param_grid

{'n_estimators': [35, 40, 42, 45, 50, 53, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 125, 150], 'random_state': [35, 40, 42, 45, 50, 53, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 125, 150]}

In [19]:
from sklearn.ensemble import RandomForestClassifier
'''
grid_clf = RandomForestClassifier(criterion='entropy',
                                  max_depth=None,
                                  min_samples_split=1,
                                  min_samples_leaf=11,
                                  max_features=0.5,
                                  n_jobs=-1, 
                                  random_state=42,
                                  min_density=None)
                                  '''
grid_clf = RandomForestClassifier(n_estimators= 75,random_state=80)

In [20]:
grid =GridSearchCV(grid_clf,param_grid,cv=8,scoring ='accuracy',n_jobs = -1)

In [ ]:
grid.fit(x,y)

In [ ]:
grid.grid_scores_

In [20]:
#After running grid score and everything in my tab i got a whooping 81 percent score
clf=RandomForestClassifier(n_estimators=75, 
                           criterion='entropy',
                           max_depth=None,
                           min_samples_split=1,
                           min_samples_leaf=11,
                           max_features=0.5,
                           n_jobs=-1, 
                           random_state=80,
                           min_density=None)
clf = clf.fit(train,target)
clf_test_predict = clf.predict(test)
xtest1['Survived'] = clf_test_predict
xtest1[['PassengerId','Survived']].to_csv('M28.csv', index=False, float_format="%f")