In [176]:
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['clf', 'test']
`%matplotlib` prevents importing * from pylab and numpy

In [177]:
x=pd.read_csv('C:/Users/admin/Documents/Python Scripts/train.csv')

In [178]:
x.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C

In [ ]:
x['Age'].fillna(x.Age.mean(),inplace=True)
x.Embarked[ x.Embarked.isnull() ] = x.Embarked.dropna().mode().values

In [181]:
#Converting  Sex to numerical form and creating two separate columns for sex
dummies = pd.get_dummies(x['Sex'], prefix = 'Sex')
x= pd.concat([x,dummies],axis =1)
x.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,1,0

In [182]:
x.drop ([ 'Name','Ticket' ,'Cabin','Sex' ],axis =1 ,inplace= True) # dropping some columns

In [183]:
x.head(2)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,Sex_female,Sex_male
0,1,0,3,22,1,0,7.2500,S,0,1
1,2,1,1,38,1,0,71.2833,C,1,0

In [184]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 10 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null object
Sex_female     891 non-null float64
Sex_male       891 non-null float64
dtypes: float64(4), int64(5), object(1)
memory usage: 76.6+ KB

In [185]:
dummies1 = pd.get_dummies(x['Embarked'], prefix = 'Embarked')
x= pd.concat([x,dummies1],axis =1)
x.drop ([ 'Embarked' ],axis =1 ,inplace= True)
x.head(2)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22,1,0,7.2500,0,1,0,0,1
1,2,1,1,38,1,0,71.2833,1,0,1,0,0

Doing the same stuff for test data

In [186]:
xtest = pd.read_csv('C:/Users/admin/Documents/Python Scripts/test.csv')

In [188]:
xtest['Age'].fillna(xtest.Age.mean(),inplace=True)
xtest['Fare'].fillna(xtest.Fare.mean(),inplace=True)

In [190]:
dummies3 = pd.get_dummies(xtest['Sex'], prefix = 'Sex')
xtest= pd.concat([xtest,dummies3],axis =1)
dummies4 = pd.get_dummies(xtest['Embarked'], prefix = 'Embarked')
xtest= pd.concat([xtest,dummies4],axis =1)


xtest.drop ([ 'Name','Ticket' ,'Cabin','Sex','Embarked'],axis =1 ,inplace= True)

In [193]:
xtest.head(2)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.5,0,0,7.8292,0,1,0,1,0
1,893,3,47.0,1,0,7.0000,1,0,0,0,1

Using Algorithms

In [191]:
y= x.pop('Survived')
x.head(2)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22,1,0,7.2500,0,1,0,0,1
1,2,1,38,1,0,71.2833,1,0,1,0,0

In [192]:
train=x.values
target=y.values
xtest1=xtest
test=xtest.values

In [195]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [198]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

In [199]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
# STEP 3: make predictions on the testing set
y_pred = logreg.predict(X_test)

# compare actual response values (y_test) with predicted response values (y_pred)
print metrics.accuracy_score(y_test, y_pred)

0.782122905028

In [210]:
from sklearn import svm
clf = svm.SVC(kernel ='linear')
clf.fit(X_train, y_train)
# STEP 3: make predictions on the testing set
y_pred = clf.predict(X_test)

# compare actual response values (y_test) with predicted response values (y_pred)
print metrics.accuracy_score(y_test, y_pred)

0.77094972067

In [203]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)
# STEP 3: make predictions on the testing set
y_pred = clf.predict(X_test)

# compare actual response values (y_test) with predicted response values (y_pred)
print metrics.accuracy_score(y_test, y_pred)

0.854748603352

In [204]:
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1),
                         algorithm="SAMME",
                         n_estimators=200)
clf.fit(X_train, y_train)
# STEP 3: make predictions on the testing set
y_pred = clf.predict(X_test)

# compare actual response values (y_test) with predicted response values (y_pred)
print metrics.accuracy_score(y_test, y_pred)

0.821229050279

In [194]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)
clf = clf.fit(train,target)
clf_test_predict = clf.predict(test)
xtest1['Survived'] = clf_test_predict
xtest1[['PassengerId','Survived']].to_csv('sub-08.csv', index=False, float_format="%f")